<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<div id="app">
    <p>{{ contador }}</p>
    <button v-on:click="somarContador">Somar 1 no contador</button>
    <button v-on:click="limparContaor">Limpar contador</button>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            contador: 0
        },
        methods: {
            somarContador(){
                this.contador++
            },
            limparContaor(){
                this.contador = 0
            }
        }
    });
</script>